// 用户/群组头像
.avatar {
  object-fit: cover;
  border-radius: 8px !important;
}

// 侧边菜单
.menu-container {
  padding: 15px 0 !important;
  background-color: white !important;
  border-right: 1px solid #e5e9f1;

  // 响应式宽度设置 - 当屏幕宽度小于1024px时，宽度为50px
  @media (max-width: 1023px) {
    width: 50px !important;
    min-width: 50px !important;
  }

  > div:first-child {
    display: none;
  }

  .menu ul {
    li {
      margin: 0;
      padding: 0;
      height: auto;
      line-height: normal;
      &:last-child {
        margin-bottom: 0;
        .menu-item {
          margin-bottom: 0;
        }
      }
    }
  }

  .menu-item {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    color: #555;
    &:hover {
      background-color: rgba(#0074ff, 0.08);
    }
    &.active {
      color: #0074ff;
    }
    .badge {
      top: 0 !important;
      right: 0 !important;
    }
  }
}

.conversation-list-panel-container,
.contact-list-panel-container,
.fav-category-list-panel-container {
  // 响应式宽度设置
  // 默认.conversation-list-panel已经有260px宽度样式
  // 当屏幕宽度小于1024px时，宽度为230px
  @media (max-width: 1023px) {
    width: 230px !important;
  }
  // 用户搜索框
  .search-input-container {
    gap: 8px;
    height: auto;
    padding: 15px 12px;
    background-color: white;
    input {
      flex: 1;
      width: auto;
      min-width: 0px; // 最小宽度为0，避免搜索框宽度flex:1失效
      height: 36px;
      margin: 0;
      padding-left: 30px;
      padding-right: 10px;
      background-color: #f8f8f8;
      border-radius: 8px;
      border-color: #e5e9f1;
      font-size: 14px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      &:focus {
        background-color: white;
      }
    }
    i {
      left: 22px;
    }
    button {
      width: 36px;
      height: 36px;
      margin: 0;
      background-color: white;
      border-radius: 8px;
      border-color: #e5e9f1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .panel {
    background-color: white;
  }
}

// 文本输入框
.input-action-container {
  ul {
    display: flex;
    gap: 8px;
    padding: 0 15px;
    li {
      margin: 0 !important;
      padding: 5px;
      border-radius: 4px;
      line-height: 1;
      &:focus,
      &:hover {
        background-color: #f3f5f9;
      }
    }
  }
}

.conversation-empty-container,
.contact-empty-container {
  background-color: #f4f8ff !important;
  // 空内容占位logo
  .empty-logo {
    width: 72px;
    opacity: 0.1;
  }
}

// 会话列表
.conversation-list-panel-container {
  .conversation-item-container {
    background-color: white;
    &.active {
      background-color: #f3f7ff;
    }
  }
  .header {
    .badge {
      right: 4px;
    }
  }
}

// 会话消息
.conversation-view {
  .title-container {
    background-color: white;
  }

  .conversation-content-container {
    background-color: #f4f8ff;
  }

  .conversation-message-list {
    padding-bottom: 1em;
  }

  .message-time-container .time {
    background-color: transparent;
  }

  .divider-handler {
    &::before {
      background-color: white;
    }
  }

  .message-input-container {
    background-color: white;
  }
}

// 通讯录列表
.contact-list-panel-container {
  &.contact-list-panel {
    background-color: white;
  }
  .category-item-container {
    background-color: white;
  }
  .label {
    margin-bottom: 5px;
    color: #999;
    background-color: white;
    p {
      border-color: #eee;
    }
  }
}
.contact-detail-container {
  overflow: auto;
}
